.wrapper {
    display: flex;
    gap: 2vh;
}

.wrapper > div {
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}

.c1 {
    /*Completeaza codul lipsa*/
    width: 50vh;
    height: 20vh;
    
    align-self:flex-end;
    
}

.c2 {
    min-height: 30vh;
    /*Completeaza codul lipsa*/
    width: 80vh;
    align-self: center;

}

.c3 {
    min-height: 50vh;
    width:25vh;
    align-self: center;
    /*Completeaza codul lipsa*/

}